__debug*
/fyne-cross
5*
6*
7*
8*
firmata*.zip
firmata*.tar.gz
firmata*.tar.xz
java17
firmata-launcher
tmp-pkg/Makefile
tmp-pkg/usr/local/share/applications/firmata-launcher.desktop
tmp-pkg/usr/local/share/pixmaps/firmata-launcher.png
*.deb
dist/RELEASE.md
dist/darwin-amd64
/firmata.app

